# Django Core Settings
DJANGO_SECRET_KEY=your-secret-key-here-change-in-production
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.development
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://yourdomain.com # no need to set if running with manage.py runserver
SERVER_PORT=8000

# JWT Configuration
JWT_SIGNING_KEY=your-jwt-signing-key-here-change-in-production
JWT_ACCESS_TOKEN_MINUTES=5
JWT_REFRESH_TOKEN_DAYS=30

# Database Configuration (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=django_rest_db
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=600
DB_CONNECT_TIMEOUT=10
DB_ATOMIC_REQUESTS=False
DB_STATEMENT_TIMEOUT=30000
DB_SSL_REQUIRED=False

# Logging Configuration
LOG_FILE_PATH=./.logs (optional, defaults to ./.logs)

# Redis Configuration
REDIS_URL=redis://127.0.0.1:6379/1

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Cache Configuration
CACHE_KEY_PREFIX=django_rest
CACHE_DEFAULT_TIMEOUT=300
REDIS_MAX_CONNECTIONS=50
REDIS_SOCKET_CONNECT_TIMEOUT=5
REDIS_SOCKET_TIMEOUT=5


# Production Settings
# Below here are not required for development but needed for production.
# They must be configured when deploying to production.
DJANGO_SETTINGS_MODULE=config.settings.production

# Security Settings
# Cookie Security (defaults are secure, override in development.py)
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

# SSL/HTTPS (production should use True, development uses False)
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

# Frame Options
X_FRAME_OPTIONS=DENY

# Proxy Configuration (if behind load balancer)
USE_PROXY=False
NUM_PROXIES=1

# Cors Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080

# Monitoring (Sentry) (if not using Sentry, you dont need to set these SENTRY_ENABLED is defaulted to False)
SENTRY_ENABLED=False
SENTRY_DSN=
SENTRY_ENVIRONMENT=production
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0.1

# Email (Its optional, if email is not needed, just dont set these.)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL=noreply@example.com
